/**************
PALETTE
h1: #D34370
riquadri: #0F0E16
email: #63CEE7
**************/


/*******
RESET
*******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 50px 230px;
}

/***********
HEADER RULES
***********/

header {

    h1 {
        color: #D34370;
        text-transform: capitalize;
        margin-bottom: 50px;
    }
}

/***********
SUBTITLE RULES
***********/

.subtitle {
    margin-bottom: 50px;
}

/***********
GRID RULES
***********/

.team-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin: 0 -10px;
}

.team-container .member {
    width: calc(100% / 3 - 20px);
    height: 100px;
    margin: 10px;
    box-shadow: 3px 3px 10px 2px gray;
    display: flex;
}

.team-container .member .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    color: white;
    background-color: #0F0E16;
    flex-grow: 1;

    h3 {
        text-transform: uppercase;
    }

    .role {
        text-transform: capitalize;
    }

    .email {
        color: #63CEE7;
    }
}